@{
    ViewData["Title"] = "Home";
}

<section class="home" id="home">
    <div class="home-text">
        <h1>Car Rental Service</h1>
        <p>
            We have every car you need for your next trip — choose a car, book fast, and drive with confidence.
        </p>

        <a href="#" class="btn">Discover now...</a>
    </div>
</section>

<section class="cars" id="cars">
    <div class="heading">
        <h2 style="font-family: 'Trebuchet MS', sans-serif; font-size: 58px;">
            We have all types of cars
        </h2>

        <img src="~/css/cars.jpg" alt="Cars" />
        <p>
            Pick your favorite brand and drive with style.
        </p>
    </div>

    <div class="cars-container container">
        <div class="box">
            <a href="https://www.audi.hr">
                <img src="~/css/audi.png" style="width:100%" alt="Audi" />
            </a>
        </div>

        <div class="box">
            <img src="~/css/bmw.jpg" style="width:100%" alt="BMW" />
        </div>

        <div class="box">
            <img src="~/css/citroen.png" style="width:100%" alt="Citroen" />
        </div>

        <div class="box">
            <img src="~/css/ford.png" style="width:100%" alt="Ford" />
        </div>

        <div class="box">
            <img src="~/css/Kia.png" style="width:100%" alt="Kia" />
        </div>

        <div class="box">
            <img src="~/css/lambor.png" style="width:100%" alt="Lamborghini" />
        </div>

        <div class="box">
            <img src="~/css/McLaren.png" style="width:100%" alt="McLaren" />
        </div>

        <div class="box">
            <img src="~/css/mercedes.png" style="width:100%" alt="Mercedes" />
        </div>

        <div class="box">
            <img src="~/css/nissan.jpg" style="width:100%" alt="Nissan" />
        </div>

        <div class="box">
            <img src="~/css/peugeot.png" style="width:100%" alt="Peugeot" />
        </div>

        <div class="box">
            <img src="~/css/porsche.jpg" style="width:100%" alt="Porsche" />
        </div>

        <div class="box">
            <img src="~/css/renault.png" style="width:100%" alt="Renault" />
        </div>
    </div>
</section>

<section class="about container" id="about" style="display:flex; justify-content:center;">
    <div class="about-text">
        <span>About us</span>
        <h2>Affordable rentals with quality cars</h2>
        <p>
            Car Rental Service brings you flexible rental options, transparent pricing and well-maintained vehicles.
        </p>
        <a href="#" class="btn">Learn more...</a>
    </div>
</section>

<section class="parts" id="parts">
    <div class="heading">
        <h2>Our cars are always excellent</h2>
        <p>
            Here are some of our best deals going on right now.
        </p>
    </div>

    <div class="parts-container container">
        <div class="box">
            <img src="~/css/citroen_c3.png" style="width:80%" alt="Citroen C3" />
            <h3>Citroen C3</h3>
            <span>14,25€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>

        <div class="box">
            <img src="~/css/audi_a5.png" style="width:80%" alt="Audi A5" />
            <h3>Audi A5</h3>
            <span>52,25€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>

        <div class="box">
            <img src="~/css/peugeot_208.png" style="width:80%" alt="Peugeot 208" />
            <h3>Peugeot 208</h3>
            <span>28,55€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>

        <div class="box">
            <img src="~/css/renault-clio-2024.png" style="width:80%" alt="Renault Clio" />
            <h3>Renault Clio</h3>
            <span>26,25€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>

        <div class="box">
            <img src="~/css/renault-grand-coupe.png" style="width:80%" alt="Renault Grand Coupe" />
            <h3>Renault Grand Coupe</h3>
            <span>52,25€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>

        <div class="box">
            <img src="~/css/vw-golf-8.png" style="width:80%" alt="VW Golf 8" />
            <h3>VW Golf 8</h3>
            <span>30€/Day</span>
            <a href="#" class="btn">RENT NOW</a>
        </div>
    </div>
</section>

<section class="blog" id="blog">
    <div class="heading">
        <h2>Blog content</h2>
        <p>
            Updates, tips and rental guides.
        </p>
    </div>

    <div class="blog-container container">
        <div class="box">
            <img src="~/css/laferari.jpg" style="width:100%" alt="New upcoming cars" />
            <h3>New upcoming cars</h3>
            <span>Jan 1 2026</span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#" class="blog-btn">Read more...<i class='bx bx-right-arrow-alt'></i></a>
        </div>

        <div class="box">
            <img src="~/css/gtr.jpg" style="width:100%" alt="Best car for your price" />
            <h3>Best car for your price</h3>
            <span>Jan 1 2026</span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#" class="blog-btn">Read more...<i class='bx bx-right-arrow-alt'></i></a>
        </div>

        <div class="box">
            <img src="~/css/aventador.jpg" style="width:100%" alt="How to find your perfect car" />
            <h3>How to find your perfect car</h3>
            <span>Jan 1 2026</span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#" class="blog-btn">Read more...<i class='bx bx-right-arrow-alt'></i></a>
        </div>
    </div>
</section>


<div style="clear: both;"></div>
