@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p></p>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam sit amet purus fringilla, porta dui sit amet, bibendum sapien.
</p>

<p>
    Integer dignissim nisl eu interdum varius.
    Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p>


